<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Weather Rnnr</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="http://www.wunderground.com/"><img src="assets/clouds-32.png"/></a></li>
      </li>
    </ul>
  </section>
</nav>

<div class="row">
    <div class="small-8 columns large-4 columns">
        <fieldset>
            <%= form_tag('/environments', :remote => true) do %>
                <%= text_field_tag "location", nil, :placeholder => "city", :size => 30 %>
                <%= text_field_tag "state", nil, :placeholder => "state", :size => 15 %>
                <%= submit_tag "Run?", :id => "button" %>
            <% end %>
        </fieldset>
    </div>
</div><!-- end of form div -->



<div class="row">
  <div class="small-9 columns large-4 columns">
    <div id="weather"></div>
  </div>
  <div class="small-9 columns large-4 columns">
    <div id="condition"></div>
  </div>
  <div class="small-9 columns large-4 columns">
    <div id="shelter"></div>
  </div>
</div